In [1]:
5

5

In [2]:
print(5+5)

10

In [3]:
x =5.5

In [4]:
x

5.5

In [5]:
str="hello world !!"

In [6]:
str

'hello world !!'

In [7]:
True

True

In [8]:
Fasle

NameError: name 'Fasle' is not defined

In [9]:
False

False

In [10]:
25 + 4.5

29.5

In [11]:
25+40.0

65.0

In [12]:
# Order of math operations

In [13]:
5 * (100 * 4) / 2

1000.0

In [14]:
5 * (3 + 4)

35

In [15]:
print('int(5.2)', 'truncates to', int(5.2))

int(5.2) truncates to 5

In [16]:
# conditional statements

In [17]:
n1 =int(input('Enter value of n1 : '))

Enter value of n1 :  10

In [18]:
n2 =int(input('Enter value of n2 : '))

Enter value of n2 :  15

In [34]:
if n1 == n2:
    print(n1, 'is equal to', n2)

In [35]:
if n1 > n2:
    print(n1, 'is greate than', n2)

In [36]:
if n1 < n2:
    print(n1, 'is less than', n2)

10 is less than 15

In [32]:
n1 = 10

In [33]:
n2 = 15

In [37]:
n1 <= n2

True

In [38]:
n2 <= n1

False

In [40]:
7 <= 10

True

In [49]:
n1 = int(input('ENter n1'))

ENter n1 20

In [42]:
n2 = int(input('ENter n2'))

ENter n2 10

In [43]:
n3 = int(input('ENter n3'))

ENter n3 15

In [50]:
min = n1

In [51]:
if n2 < min:
    min = n2

In [52]:
if n3 < min:
    min = n3

In [53]:
print("min num is:", min)

min num is: 10

In [54]:
x =3

In [57]:
1 <= x <= 5

False

In [56]:
x =10

In [58]:
""" class avg program """

' class avg program '

In [80]:
# initialise
total =0

In [81]:
grade_counter = 0

In [84]:
grades = [90, 91,92,93,94,95,81,82,83,84] # list of grades

In [63]:
# processing

In [85]:
for grade in grades:
    total = total + grade
    grade_counter += 1 # grade_counter = grade_counter +1

In [86]:
total

885

In [68]:
# compute avg

In [88]:
avg = total // grade_counter

In [89]:
print('Class avg is: ', avg)

Class avg is:  88

In [87]:
grade_counter

10

In [76]:
total

2655

In [65]:
total

885

In [90]:
# escape chars

In [99]:
print("""this "is a str""")

this "is a str

In [104]:
triple_line = """ hello there
                    this is hello \
                    selva \
                    venkat \
                    ashok
                    world """

In [105]:
print(triple_line)

 hello there
                    this is hello                     selva                     venkat                     ashok
                    world

In [ ]:
grade = 65

In [ ]:
grade

In [ ]:
if grade >= 60:
    print("pass")

In [ ]:
grade